version: "3.9"
services:
  backend:
    build: ./backend
    env_file:
      - ./backend/.env
    volumes:
      - ./data:/app/data
    ports:
      - "3000:3000"

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend
