<head>
  <meta charset="utf-8"/>
  <title>TNS Mail Portal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
